<div class="container mt-5">

    <div class="row">

        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">
                    ¡Bienvenido {{username}}!
                </h1>
                <p class="lead">
                    panel de administración
                </p>
                <hr class="my-4">
                <p>
                    Administración del contenido.
                </p>
            </div>

        </div>
        
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Gestión de proyectos
                        </h5>
                        <p>
                            crear, editar y eliminar proyectos
                        </p>
                        <a href="/project" class="btn btn-primary">Ir a Proyectos</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>